* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f8f8ff;
}
.dark-text {
	color: #070707 !important;
}

.bottom-div {
	color: #070707;
	background-color: #eeeeee;
	height: 37.5px;
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	padding-top: 5px;
}
.pulsate {
	color: red;
	-webkit-animation: pulsate 3.5s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.3;
}
@-webkit-keyframes pulsate {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.3;
	}
}

@keyframes shadow-pulse {
	0% {
		box-shadow: 255 255 255 0px rgba(0, 0, 0, 0.2);
	}
	100% {
		box-shadow: 255 255 255 45px rgba(0, 0, 0, 0);
	}
}

.card-content {
	-webkit-transition: all 1s ease !important;
}

.icon-box {
	-webkit-transition: all 1s ease !important;
}

.circle-box {
	border-radius: 55%;
}
.circle-icon {
	padding: 20px !important;
}

@media only screen and (max-width: 600px) {
	.name-h1 {
		font-size: 46px;
		margin-top: 25%;
	}
	.like-h1 {
		font-size: 28px;
		margin-bottom: 25%;
	}
	.circle-icon {
		padding: 10px !important;
	}
	.box-container {
		text-align: center !important;
	}
}

.card-title {
	font-weight: 400 !important;
	text-align: center !important;
}

.box-container {
	text-align: justify !important;
}
